body {
    font-family: Helvetica Neue, Calibri, Helvetica, Arial, sans-serif;
	padding-top: 84px; 
	margin-bottom: 60px;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.jibb-navbar-color {
    background-color: white;
}

.jibb-navbar-brand {
	padding-left: 44%;
}

.news-item {
    border-top: 2px solid black;
    padding-bottom: 24px;
    margin-bottom: 12px;
}

.news-item .news-item-title {
	padding-top: 4px;
	float: left;
}

.news-item .news-item-title a{
	text-decoration: none;
}

.news-item .news-item-date {
	padding-top: 4px;
	float: right;
}

@media only screen and (max-width: 480px) {
	.news-item .news-item-date {
		padding-top: 0px;
		padding-bottom: 6px;
		float: left;
		clear: both;
		font-size: .7em;
	}
}

.jibb-outer-container {
	max-width: 960px;
}

.jibb-container {
    padding-bottom: 16px;
}

.jibb-inner-container {
	border-top: 2px solid black;
    padding-top: 16px;
    padding-bottom: 16px;
}

.jibb-card {
/*    margin-top: 10px;*/
}

.responsive-card-row {
	padding: 10px 0px;
}

.responsive-card-row:after {
	content: "";
  	display: table;
  	clear: both;
}

.responsive-card-col {
    float: left; 
    padding: 10px; 
    width: 24.9%;
}

.responsive-card-col:hover {
	border: 1px solid #eee !important;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.navbar .navbar-toggle .icon-bar {
    color: black;
    border-color: black;
    background-color: black;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    background-color: white;
    color: black;
}

.navbar .navbar-right {
/*    margin-right: 0;*/
}

.btn.outline {
    background: none;
    padding: 6px 14px;
    border: 2px solid black;
    color: black;
}

.btn.outline:hover {
	font-weight: bold;
	border: 2px solid #fff;
	background: black;
	color: #fff;
}
    
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 3px;
}

.navbar-toggler {
	border-color: transparent !important;
}

.jibb-menu-icon {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 7px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	height: 40px;
	width: 48px;
	cursor: pointer;
}

.jibb-menu-icon span {
	background-color: #000;
	display: block;
	width: 22px;
	height: 3px;
	margin-bottom: 4px;
}

.jibb-menu-icon-v4 {
	float: right;
	padding: 10px 6px;
	margin-top: 7px;
	cursor: pointer;
}

.jibb-menu-icon-v4 span {
	background-color: #000;
	display: block;
	width: 22px;
	height: 3px;
	margin-bottom: 4px;
}

/* The side navigation menu */
.jibb-side-nav {
	height: 100%; 
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #000;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 116px; 
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.jibb-side-nav a {
	padding-left: 40px;
	text-decoration: none;
	font-size: 50px;
	font-weight: 600;
	color: #fff;
	display: block;
	transition: 0.3s;
}

.jibb-side-nav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.jibb-side-nav .close-btn {
	position: absolute;
	top: 0;
	right: 22px;
	font-size: 40px;
	margin-left: 50px;
}

.ui-menu {
	background-color: #ffffff;
	max-width: 220px;
	list-style: none;
	padding: 8px 14px;
	max-height: 324px;
	overflow: scroll;
}

.jibb-search-box {
	margin-left: 40px; 
	margin-top: 26px; 
	max-width: 220px;
}

.card-block {
	margin-top: 16px;
    border-top: 2px solid black;
	padding: .5em 0;
}

.card-text {
	font-size: 12px;
}

@media only screen and (max-width: 1024px) {
/*
	.ui-menu {
		max-width: 320px;
	}
*/

/*
	.jibb-search-box {
		max-width: 320px;
	}
*/
}

@media only screen and (max-width: 768px) {
/*
	.ui-menu {
		max-width: 220px;
	}
*/

/*
	.jibb-search-box {
		max-width: 220px;
	}
*/
}

@media (max-width: 768px){
	.jibb-menu-icon {
		display: none;
	}

	.jibb-side-nav {
		text-align: center;
		padding-top: 60px; 
	}
	
	.jibb-side-nav a {
		padding: 8px 8px 8px 8px;
		font-size: 36px;
	}
	
	.jibb-side-nav .close-btn {
		right: 10px;
    	margin-top: -12px;
	}
}

.card {
	border: none;
	border-radius: 0;
}

.card-img-top {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.card-block {
	padding: .5em 0;
}

/** carousel responsive fix **/
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
	display: block;
}

@media only screen and (max-width: 990px){
    .responsive-card-col {
        width: 48%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive-card-col {
        width: 100%;
    }
}


@media only screen and (max-width : 1200px) {
	.container {
	    max-width: 960px;
	}
}

@media only screen and (max-width : 1024px) {
	.container {
	    max-width: 900px;
	}
}

@media only screen and (max-width: 768px) {
    .container {
	    max-width: 750px;
	}
    
    .row {
        padding: 0px;
/*
        margin-left: -60px;
        margin-right: -60px;
*/
    }
	
	.navbar-toggle { 
		margin-right: 5px;
	}
	
	.jibb-navbar-brand {
		padding-left: 42.5%;
	}
}

@media only screen and (max-width: 480px) {
	.jibb-navbar-container {
		margin-left: 0;
        margin-right: -18px;
	}
	
	.jibb-search-box {
		margin-left: 110px; 
	}
	
	.jibb-navbar-brand {
		padding-left: 35%;
	}
	
    .row {
        padding: 0px;
/*
        margin-left: -60px;
        margin-right: -60px;
*/
    }
	
	.navbar-toggle { 
		margin-right: 5px;
	}
	
	.table td, .table th {
		padding: .25rem;
	}
}

@media only screen and (max-width: 375px) {
	.jibb-navbar-brand {
		padding-left: 32%;
	}
	
	.jibb-search-box {
		margin-left: 84px; 
	}
}